{% extends 'base.html.twig' %}
{% block title %}Editer le bien{% endblock title %}
{% block body %}
<div class="container mt-4">
<h2>Créer une nouvelle option</h2>
{{ include ('option/form.html.twig', {form: form, button: 'créer'}) }}
</div>
{% endblock %}